
.body-container {
    height: 100vh;
    overflow: hidden;
  }
  
  .scroll-container {
    height: calc(100%);
    overflow-y: scroll;
    display: flex;
    min-width: 100%;
    justify-content: start;
    flex-direction: column;
    gap: 16px;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-container {
    scrollbar-width: none;
  }
  